<h1>All Users</h1>
<div class="row">


<table>
  <thead>
    <tr>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        E-mail
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr class="col-md-5">
      <td>
        <%= user.first_name %>
      </td>
      <td>
        <%= user.last_name %>
      </td>
      <td>
        <%= user.emails %>
      </td>
      <td>
        <%= link_to "Edit", edit_user_path(user) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to "new", new_user_path %>
