<div class="row-fluid">
  <button class="btn-primary pull-right"><%= link_to 'New User', new_user_path, class:"btn-primary" %></button>
  <div class="page-header">
    <h1>Users</h1>
  </div>
</div>
<div class="row-fluid">
  <table>
    <thead>
      <tr>
        <th class="col-md-3">First Name</th>
        <th class="col-md-3">Last Name</th>
        <th class="col-md-3">Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td class="col-md-3"><%= user.first_name %></td>
        <td class="col-md-3"><%= user.last_name %></td>
        <td class="col-md-3"><%= user.emails %></td>
        <div class="btn-group btn-group-* pull-right" role="group">
          <td class="col-md-3">
            <button class="btn-primary"><%= link_to 'Edit', edit_user_path(user), class:"btn-primary" %></button>
            <button class="btn-primary"><%= link_to 'Show', user_path(user), class:"btn-primary" %></button>
          </td>
        </div>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
