<h1>Create New User</h1>

<div class="col-md-12 pull-left">
  <%= form_for @user do |f| %>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :first_name %>
      <div class="col-md-6 pull-right">
        <%= f.text_field :first_name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :last_name %>
      <div class="col-md-6 pull-right">
        <%= f.text_field :last_name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.label 'e-mail' %>
      <div class="col-md-6 pull-right">
        <%= f.email_field :emails %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", users_path, class:"btn btn-default" %>
    </div>
    <% end %>
  </div>
</div>
