<h1>Create New User</h1>

<%= form_for @user do |f| %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :emails %>
<%= f.text_field :emails %>

<%= f.submit %>

<% end %>
