<%= form_for @project do |f| %>

<% if @project.errors.any? %>
<div id="error_explanation col-md-8">
  <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
  <div class="col-md-8">
    <ul>
      <% @project.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>



<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
