<!DOCTYPE html>
<html>
<head>
  <title>GCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <%= link_to "gCamp", root_path, :class => "navbar-brand col-md-offset-1"%>
</nav>

  <div class="container">
    <%= yield %>
    <hr/>
    <footer>
      <div class="navbar">
        <%= link_to "About", about_path %> | <%= link_to "Terms", terms_path %>
      </div>
    </footer>
  </div>

</body>
</html>
